
/* pl */
.projects{
    /* display: inline; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 300px;
}

.proj-title{
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    text-decoration: underline;
}

/* pl-list */
.project-items{
    display: flex;
    flex-wrap: wrap;
}


