/* .projects{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

/* pl */
.projects{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.proj-sec-title{
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

/* pl-list */
.project-items{
    display: flex;
    flex-wrap: wrap;
}


