src/components/project_section/project_section.jsx/* .projects{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.projects{
    border: 3px solid #fff;
    padding: 20px;
}



