.about{
  display: flex; 
  align-items: center;
  /* z-index: 3; */
}

.a-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-right{
    flex: 1;
    display: flex; 
    justify-content: center;
}

.a-title{    
    z-index: 3;
    position: relative;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 30px;
}


.a-text{
    /* position: relative;
    width: 100%; */
}
/* 
.a-card{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid rgb(110, 105, 105);
    background-color: rgb(241, 240, 178);
    padding: 10px;
    z-index: 1;
} */

