.about{
  height: 100vh;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.a-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  height: 100%;
}

.a-right{
    flex: 1;
    display: flex; 
    justify-content: center;
}


.a-title{    
    z-index: 3;
    position: relative;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 30px;
}

.a-bg{
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: rgb(223, 151, 245);
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;  
}

.a-card-bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(5, 4, 4);
}

.a-text{
    position: relative;
    width: 100%;
}

.a-card{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid rgb(110, 105, 105);
    background-color: rgb(241, 240, 178);
    padding: 10px;
    z-index: 1;
}

