.navbar{
    width: 100%;
    height: 90px;
    background-color: rgb(192, 191, 191);
    position:fixed;  
    z-index: 4;
    /* top: 0; */
}

.nav-items{
    display: flex;
}

.nav-wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

}

.logo{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin-top: -15px;
    margin-left: 20px;
    color: black;
    margin-right: 70px;
}

.logo:hover{
    color:rgb(114, 112, 112)
}
.about-word{
    margin-top: -5px;
    text-decoration: none;
    margin-left: -2px;
}
.icon-text{
    margin-top: -5px;
    margin-left: -8px;  
}

.icon{
    margin-right: 30px;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
}

.icon:hover{
    color:rgb(114, 112, 112)    
}