.navbar{
    width: 100%;
    height: 60px;
    background-color: lightgray;
    position:fixed;  
    z-index: 1;
    top: 0;
}

.nav-wrapper{
    padding: 10px 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.nav-left{

}

.nav-right{
    
}