.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(192, 191, 191);
    position:fixed;  
    z-index: 4;
    top: 0;
    /* border-bottom: 2px; */
}

.nav-wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

}

.logo{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    margin-top: -7px;
    color: black;
    margin-right: 50px;
    align-items: center;
}

.nav-left{
    display: flex;
}
.about-word{
    margin-top: -5px;
    text-decoration: none;
    margin-left: -2px;
}
.contact-word{
    margin-top: -5px;
    margin-left: -8px;
    text-decoration: none;
}

.proj-word{
    margin-top: -5px;
    margin-left: -8px;
    text-decoration: none; 
    color: black;
}

.icon{
    margin-right: 25px;
    align-items: center;
    color: black;
    text-decoration: none;
}

.nav-right{
    
}

/* .menu{
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.span{
    width: 32px;
    height: 3px;
    background-color: black;
} */