
.intro{
    display: flex; 
    height: 100vh;
    background-color: rgb(220, 162, 247);
}

.i-left{
    flex: 1;
    display: flex;
}


.i-left-wrapper{
    padding: 50px;
    height: 50%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    font-size: 30px;
    font-weight: 300px;
}
.i-name{
    margin-top: -10px;
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
    margin-top: -10px;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;

}

@keyframes move {
    33%{
        transform: translateY(-50px);
    }
    67%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}

.i-title-item{
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(6, 143, 109);
    display: flex;
    align-items: center;
}

.i-right{
    flex: 1;
}