
.intro{
    display: inline-block; 
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left{
    padding: 50px;
    display: flex;
    float: left;
    width: 45%;
    flex-direction: column;
}

.right{
    /* float: right; */
    align-items: left;
    width: 45%;
    margin-left: auto;
    margin-top: 10px; 
}

.i-intro{
    font-size: 40px;
    margin-top: 50px;
}

.name{
    margin-top: 10px;
    font-size: 80px;
    margin-bottom: 20px;
}

.title{
    margin-top: 20px;
    height: 50px;
    overflow: hidden;
}

.title-wrapper{
    height: 100%;
    animation: move 6s ease-in-out infinite alternate;
}

@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.description{
    margin-top: 20px;
}

.flower-image{
    position: absolute;
    justify-content: space-between;
    /* transform: rotate(320deg); */
    /* max-width: 90%; */
}

