
.intro{
    display: flex; 
    position: inherit;
    width: 500px;
}

.left{
    padding: 50px;
    display: flex;
    float: left;
    justify-content: space-between;
    flex-direction: column;
}

.i-intro{
    font-size: 40px;
    margin-top: 50px;
}
.name{
    margin-top: 10px;
    font-size: 80px;
    margin-bottom: 20px;
}
.title{
    margin-top: 20px;
    height: 50px;
    overflow: hidden;
}

.title-wrapper{
    height: 100%;
    animation: move 6s ease-in-out infinite alternate;
}

@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.description{
    margin-top: 20px;
}

.right{
    /* flex: 1; */
    /* float: right; */
    /* position: relative; */
    /* margin-top: 100px;  */
}

.flower-image{
    position: absolute;
    transform: rotate(320deg);
    max-width: 90%;
}

