*{
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Cabin', sans-serif;
  background: linear-gradient(to right, #3fb3da 0%, #9999ff 100%);
  scroll-behavior: smooth;
  height: 100vh;
}
  

.sections-container{
  position: relative;
  margin-top: 60px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.sections-container > * {
  width: 100%;
  height: calc(100vh - 60px);
  scroll-snap-align: start;
  position: relative;
}

