*{
  margin: 0;
  padding: 0;
}
.app {
  font-family: 'Cabin', sans-serif;
  background-color: #cac7c7

}
  

.sections{
  background-color: lightgreen;
  height: calc(100vh - 60px);
  position: relative;
  top: 60px;
}