*{
  margin: 0;
  padding: 0;
}
.app {
  font-family: 'Cabin', sans-serif;
  background-color: lightgray;
  scroll-behavior: smooth;
}
  

.sections-container{
  position: relative;
  margin-top: 60px;
  overflow-y: scroll;
  
  scroll-snap-type: y mandatory;
}

.sections-container > * {
  width: 100%;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  position: relative;
}
/* .section{
  width: 100%;
  height: calc(100vh - 60px);
  scroll-snap-align: start;
} */